{% extends 'base.html'%}
{%block content%}

<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">{{post.title}}</th>
        </tr>
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">{{post.pub_date}}</th>
        </tr>

        <tr>
            <th scope="col">내용</th>
            <th scope="col">{{post.body}}</th>
        </tr>
        <tr>
            {% if user.id == post.user_id %}
            <th scope="col"> </th>
            <th scope="col"><a href="{% url 'board_delete' post.id %}">
                    <input id="editDeleteBtn" type="button" value="삭제하기">
                </a><a href="{% url 'board_edit' post.id %}">
                    <input id="editDeleteBtn" type="button" value="수정하기">
                </a></th>
            {% endif %}
        </tr>

    </tbody>


</table>






{% endblock %}