<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GOSOMI</title>

    <link rel = "stylesheet" href = "../static/css/home.css">
    <link rel = "stylesheet" href = "../static/css/pagePhoto.css">
    <link rel = "stylesheet" href = "../../gosoForm/static/detail_post.css">

    <script type="text/javascript" src="../static/js/home.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>


    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    <section> 
        <div class="bg"></div>
        <div class = "loginout_button">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" id="logout_button">Log Out</a> 
            
                {% else %}
                    <a href="{% url 'signup' %}" id="signup_button">Sign Up</a>
            {% endif%}
        </div>
        

        <nav id = "navbar">
            <ul>
                <li class="nav-item">
                    <a class = "navmenu" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class = "navmenu" href="#">악플러-고발게시판</a> 
                </li>
                <li class="nav-item">
                    <a class = "navmenu" href="{% url 'upload' %}">고소하기</a>
                </li>
                <li class="nav-item">
                    <a class = "navmenu" href="{% url 'mypage' %}">마이페이지</a>
                </li>
            </ul>
        </nav>
        {%block content%}
        {%endblock%}
        
        

    </section>
    <!-- 숫자효과 유저들 수 보여주기 -->
    <script>
        function numberCounter(target_frame, target_number) {
            this.count = 0; this.diff = 0;
            this.target_count = parseInt(target_number);
            this.target_frame = document.getElementById(target_frame);
            this.timer = null;
            this.counter();
        };

        numberCounter.prototype.counter = function () {
            var self = this;
            this.diff = this.target_count - this.count;

            if (this.diff > 0) {
                self.count += Math.ceil(this.diff / 5);
            }

            this.target_frame.innerHTML = this.count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            if (this.count < this.target_count) {
                this.timer = setTimeout(function () { self.counter(); }, 20);
            } else {
                clearTimeout(this.timer);
            }
        };
        // const choices_name = JSON.parse(user.size());
        new numberCounter("counter1", 99999);
        new numberCounter("counter2", 21565748);
        new numberCounter("counter3", 121554864865);

    </script>

<script>
	/* 중복체크! */
	$(function(){
		/* 아이디 수정했을 때 */
		$('#username').change(function () {
			$('#img-id').hide();
			$('#checkid').show();
		});

		$('#checkid').click(function(){
			var username = $('#username').val()
			if(username == ''){
				alert('아이디를 입력해주세요.')
				return;
			}

			$.ajax({
				url:'/signup/checkid?username='+username,
				type:'get',
				dataType:'json',
				success:function(response){
					if(response.result != 'success'){
						console.error(response.data)
						return;
					}
					if(response.data == 'exist'){
						alert("존재하는 아이디 입니다");
						$('#username').val('').focus();
						return;
					}else{
						$('#img-idcheck').show();
						$('#checkid').hide();
						$("#join").attr("id_check_result", "success");
						return;
					}
					// console.log(response)
				},
                error : function(xhr, error){
					alert("서버와의 통신에서 문제가 발생했습니다.");
					console.error("error : " + error);
				}
			})
		});

    $('#join-form').submit(function() {
		   if($("#join-submit").attr("id_check_result") == "fail") {
		      alert("id 중복체크를 해주시기 바랍니다.");
		      $("#username").focus();
		      return false;
		   }
		});

		
	});
</script>
    
</body>
</html>