{% extends 'base.html'%}
{%block content%}

<br>
<div class="post_detail" style = "margin-left : 200px;">
    <p>
        <h3> {{post_detail.title}}</h3> {{post_detail.pub_date}}
    </p>
   

    <h4>글쓴이 : {{post_detail.owner.username}}</h4>
    <div class="wrap" >
        <img class="detailimg" style = "height : 300px; width : 50%;" src="{{post_detail.image.url }}" alt=" Card image cap">
    </div>
    <br>
    <h4 style="color : white;">{{post_detail.comment}}</h4>

    <br>
</div>
{% endblock %}