@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');
html{
    margin: 0;
    height: 100%;
    font-family: 'Nanum Gothic';
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: url('../../static/img/bg.jpg'); 
}

ul {
    margin: 0;
    padding: 0;
}

/* navbar */
#navbar{
    height: 100px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
} 


#navbar ul .nav-item {
    list-style: none;
    font-size : 22px;
    color : white;
    float : left;
    text-align: center;
    vertical-align: middle;
    margin-left: 30px;
    padding: 39px;
}

#navbar ul .nav-item-le {
    list-style: none;
    font-size : 22px;
    color : white;
    float : right;
    margin-right: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 39px;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}



 #navbar .navmenu{
     text-decoration:none; 
     color : white;
     width : 100%;
     display : block;
     font-size : 20px;
     margin-right : 100px;
 }

/* 좌측 우측 묶는 통합 그리드 */
.container{
    color: white;
    padding: 100px 0;
    width: 100%;
    display: block;
}

.container .info {
    text-align: center;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 400px;
}

.wrapper-left {
    width: 50%;
    text-align: right;
    margin: auto;
    padding: 50px;
}

.wrapper-left .counter-count,
.wrapper-left .user-count {
    font-size: 20px;
    font-family: "Noto Serif KR";
}

.wrapper-left .counter-num,
.wrapper-left .user-num {
    font-size: 50px;
    margin: 0 0 60px 0;
    font-family: "Noto Serif KR";
    color: #ff9b9b;
}

.wrapper-right {
    width: 50%;
    text-align: left;
    margin: auto;
    padding: 50px;
}

.wrapper-right .login-id,
.wrapper-right .login-pw {
    font-size: 20px;
    font-family: "Noto Serif KR";
}

.wrapper-right .login-id input,
.wrapper-right .login-pw input {
    font-family: "Noto Serif KR";
    background: #ffffff;
    width: 50%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    border-radius: 2px;
    min-width: 200px;
}
.wrapper-right .login-sb {
    width: 100%;
    margin: 20px 0;
}

.wrapper-right .login-sb input {
    background-color: black;
    color: white;
    width: calc(50% + 30px);
    min-width: 200px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid white;
    font-family: "Noto Serif KR";
}

#counter1, #counter2 {
    margin: 0;
}

.subcomment{
    padding-bottom : 50px;
}


section h1{ 
   font-size: 2.5em;
} 

section p{ 
   margin-bottom: 20px; 
} 
h1, p, a, button, #login-form, input, table, hr{ 
   position: relative; 
}

/* 메인페이지 왼쪽 버튼 2개 적용 */
.btn-info{
   background-color: #56baed;
}

table{
    text-align : left;
    width : 60%;
    margin : auto;
    margin-top : 50px;
    border-spacing: 5px;
    margin-bottom : 50px;
    color : white;
}


/* signup form  */

.signup-form{
    text-align : center;
    margin : auto;
}

.signup_area{
    margin : 10px;
    font-size : 15px;
}

.title{
    font-size : 20px;
    color : white;
    text-align : center;
    z-index : 1000;
}

.form{
    width : 300px;
}

.coutereffect{
    text-align : left;
    font-size : 2.0rem;
}


.upload {
    color: white;
    padding: 50px 100px;
}

.row{
    margin-bottom : 50px;
}


/* 악플러 고발  */
.table_post, td{
    color : white;
    font-size : 1.0rem;
}
p{
    color : white;
}